<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <uses-feature android:name="android.hardware.bluetooth" />

    <application
        android:name=".BluetoothApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="NextConnect"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChatBT"
        tools:targetApi="31">
        <activity
            android:name=".Notification"
            android:exported="false" />
        <activity
            android:name=".Check_Data"
            android:exported="true"
            android:theme="@style/Theme.ChatBT"></activity>
        <activity
            android:name=".Upload_Image"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".Staff_Info"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".User_Info"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".Travel_Mode"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".DeviceList"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".Staff_Personal_Info"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".testfiles"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".UserProfile"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".StaffProfile"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".User_Personal_Info"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".Welcome"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".signup"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".presentation.MainActivity"
            android:exported="true"
            android:label="wavy"
            android:theme="@style/Theme.AppCompat.Light" />
    </application>

</manifest>